<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="serverAddress" value="127.0.0.1"/>
    <add key="serverPort" value="4895"/>
    <add key="environment" value="development"/>
    <add key="clientVersion" value="0.0.9"/>
  </appSettings>
</configuration>